:root {
    --white-text: #FFFFFF;
    --black-text: #121214;
    --backgraund-color: #ffffff;
    --accent-color: #037E8C;
    --transform-bg: background-color 0.3s ease;
    --transform-text: color 0.3s ease;
}


.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--backgraund-color);
    background: var(--backgraund-color);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    position: relative;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%;
    width: 100%;
}

/* ======================================== */

.header {
    /* background: url("../img/background/general-1.png") 50% 100% / cover no-repeat; */
}

.header__top {
    padding-top: 25px;
}


.header__top-inner {

}

.header__logo {
}

.nav {
    position: absolute;
    right: 0;
    top: 0;

}

.banner__text {
    margin-top: 105px;
}

.nav__list {
    display: flex;
    gap: 50px;
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-left: auto;
}

.nav__link {
    color: var(--white-text);
    transition: var(--transform-text);
}

.nav__link:hover {
    color: #037E8C;
}

.footer__col {
    padding-top: 10px;

}

.footer__col-tel {

}

.footer__col-number {
    font-size: 20px;
    color: var(--white-text);
    transition: var(--transform-text);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
}

.button__tel {
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.642);
    color: white;
    border: none;
    border-radius: 9px; 
    line-height: 40px;
    transition: var(--transform-bg);
}

.button__tel:hover {
    background-color: #037E8C;
}

.icon__phone {
    padding-top: 5px;
}

.route__body {
    margin-top: 110px;
}

.intro__title {
    font-size: 70px;
    font-weight: bold;
    line-height: 87.85px;    
}
.route__text {
    line-height: 96.09px;
    font-size: 24px;
}

.footer__button-routes {
    margin-top: 80px;
    margin-bottom: 120px;
}

.button__route-text {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 274px;
    height: 55px;
    background-color: rgba(128, 128, 128, 0.642);
    color: white;
    border: none;
    border-radius: 9px; 
    line-height: 40px;
    transition: var(--transform-bg);
}

.button__route-text:hover {
    background-color: #037E8C;
}

.button__route-text span {
    margin-right: 55px;
}

/* ======================================== */

.info__inner {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    min-height: 40px;
}

.info__cards {
    width: 320px;
    height: 171px;
    color: black;
    margin-top: 50px;
    box-sizing: border-box;
}

.info__zag {
    font-weight: bold;
    margin-top: 24px; 
    font-size: 18px;
}

.info_par {
    margin-top: 30px; 
    font-size: 18px;
}

/* ======================================== */
/* ======================================== */

.swiper {
    /* position: relative;
    width: 100%;
    height: 100%; */
}

.swiper-wrapper {
    /* width: 100%;
    height: 100%; */
}


.sample-slider{
    position: absolute;
    width: 100%;
    height: 100%;
}

.sample-slider [class^=swiper-button]{
    transform:rotate(90deg);
    top: initial;
    left: initial;
    right: 10px;
    margin: 0;
}

.sample-slider .swiper-pagination{
    right:20px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Помещаем слайдер позади контента */
}


/* ======================================== */
/* ======================================== */
